configuracion/configuracionCorreo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="configuracion">
    <xs:complexType>
      <xs:sequence>
	    <xs:element name="host" type="xs:string"/>
        <xs:element name="auth" type="xs:boolean"/>
        <xs:element name="port" type="xs:integer"/>
        <xs:element name="username" type="xs:string"/>
        <xs:element name="password" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
